[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "~=3.4"
dj-database-url = "~=0.5.0"
psycopg2 = "~=2.8.6"
django = "~=2.2.19"

[dev-packages]
django-extensions = "~=3.1.2"
coverage = "~=5.5"
model-bakery = "~=1.2.1"

[requires]
python_version = "3.9"
