{% extends "base_form.html" %}
{% load i18n %}

{% block formtitle %}    
<h2><strong>{% trans "login" %}</strong></h2>
{% endblock %}

{% block form %}
<form method="post" class="mt-4">
  {% csrf_token %}
  <div class="form-group row">
    <label class="col-sm-6 col-form-label text-center text-sm-right">{{ form.username.label }}:</label>
    <div class="col-sm-6 text-center text-sm-left">
      {{ form.username }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-6 col-form-label text-center text-sm-right">{{ form.password.label }}:</label>
    <div class="col-sm-6 text-center text-md-left">
      {{ form.password }}
    </div>
  </div>
	<div class="form-group row text-center">
		<div class="col col-sm-6 mx-auto">
			<a href="{% url 'signup' %}">{% trans "have an account?" %}</a> 
		</div>
	</div>
  <div class="form-group row mt-5">
    <div class="col text-center">
    <button class="btn btn-secondary" type="submit">{% trans "Save" %}</button>
    </div>
  </div>
</form>
{% endblock %}
