{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h2 class="text-center font-weight-bold">{% trans "Registered Users" %}</h2>
<div class="container mt-5">
{% for user in users %}
  <div class="row align-items-center">
    <div class="col text-uppercase text-center">
      <a><strong>{{ user.username }}</strong></a>
    </div>
    <div class="col text-center mt-2">
      <a class="btn btn-sm btn-danger" href="{% url 'user_delete' user.pk %}">{% trans "Delete" %}</a>
    </div>
  </div>
  <hr>
{% endfor %}
</div>
{% endblock %}
