{% extends "base_form.html" %}
{% load i18n %}

{% block formtitle %}
<h2><strong>{% trans "Confirm deletion" %}</strong></h2>
{% endblock %}

{% block form %}
<form method="post" class="mt-4">
  {% csrf_token %}
	<div class="form-group row">
		<div class="col col-sm-8 mx-auto text-center">
			<p>{% trans "Are you sure you want to delete this user" %} "<strong>{{ object }}</strong>"?</p>
		</div>
	</div>
	<div class="form-group row mt-5">
		<div class="col text-center">
      {% if object.pk != request.user.pk %}
			<input type="submit" value="{% trans 'Confirm' %}" class="btn btn-danger align-left">
      {% endif %}
			<input type="button" value="{% trans 'Cancel' %}" class="btn btn-secondary align-right" onClick="window.location.href='{% url "users" %}'">
		</div>
	</div>
</form>
{% endblock %}
