{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="{% url 'contacts_list' %}">✆ {% trans "Phonebook" %}</a>
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
			{% if user.is_authenticated %}
      <div class="dropdown">
        <a class="nav-link dropdown-toggle active" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Actions" %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				  <a class="dropdown-item" href="{% url 'contact_create' %}">{% trans "Add Contact" %}</a>
          <a class="dropdown-item" href="{% url 'users' %}">{% trans "Registered Users" %}</a>
          <a class="dropdown-item" href="{% url 'user_create' %}">{% trans "Add User" %}</a>
				  <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Password Change" %}</a>
        </div>
      </div>
			{% endif %}
    </ul>
  </div>
  <div>
    {% if request.path == '/core/users/' %}
    <form action="{% url 'users_search' %}" method="get">
      <input name="q" type="text" placeholder="{% trans 'Search' %}...">
    </form>
    {% else %}
    <form action="{% url 'contacts_search' %}" method="get">
      <input name="q" type="text" placeholder="{% trans 'Search' %}...">
    </form>
    {% endif %}
  </div>
  <div class="ml-2">
    {% if user.is_authenticated %}
    <a class=" d-lg-inline-block my-2 my-md-0 ms-md-3 btn btn-outline-light" href="{% url 'logout' %}">{% trans "Logout" %}</a>
    {% else %}
    <a class=" d-lg-inline-block my-2 my-md-0 ms-md-3 btn btn-outline-light" href="{% url 'login' %}">{% trans "Login" %}</a>
    {% endif %}
  </div>
</nav>
