{% extends "base_form.html" %}
{% load i18n %}

{% block formtitle %}
<h2><strong>{% trans "Add Contact" %}</strong></h2>
{% endblock %}

{% block form %}
<form method="post" class="mt-4">
  {% csrf_token %}
  <div class="form-group row">
    <label class="col-sm-6 col-form-label text-center text-sm-right">{{ form.name.label }}:</label>
    <div class="col-sm-6 text-center text-sm-left">
      {{ form.name }}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-6 col-form-label text-center text-sm-right">{{ form.email.label }}:</label>
    <div class="col-sm-6 text-center text-md-left">
      {{ form.email }}
    </div>
  </div>
  <div class="form-group row mt-5">
    <div class="col text-center">
    <button class="btn btn-secondary" type="submit">{% trans "Save" %}</button>
    </div>
  </div>
</form>
{% endblock %}
